.iconoInicio {
    color: gray!important;

}

.iconoInicio:hover{
    color: white!important;
    cursor:pointer;
}

.navTop {
    height: 50px!important;
    width: 100%;
    display: flex;
    color: white;
}

.actions {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.card-container{
    display: flex;
    flex-wrap: nowrap; /* Esto evita que las tarjetas se envuelvan en múltiples filas */
    overflow-x: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.register {
    color:#6a6a6a;
    margin-right: 20px;
}

.register:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.login {
    color: black;
    background-color: white;
    padding: 10px ;
}

.login:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.greenCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1CD760;
    position: relative;
    right: -79%;
    bottom: 15%;
    visibility: hidden;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotyCard:hover {
    > .greenCircle {
        visibility: visible;
    } 
}

.greenCircle:hover{
    cursor: pointer;
}

.card-title:hover {
    cursor: pointer;
}

.myPlaylist {
    display: flex;
    flex-direction: row;
    overflow-x: scroll!important;
    flex-wrap:nowrap;
    
}
.playspoty{
    opacity:0; 
    
}
.playspoty:hover {
    cursor: pointer;
}

.numero {
    opacity: 1;
}


.reproductor:hover{
    >.playspoty {
        opacity:1;
    }
    >.numero{
        opacity:0;
    }
}

tr:hover{
    cursor: pointer;
    background-color: #b1afaf71;
   
}

td{
    border: none;
    
}
 h1 {
    color: white;
 }

 body {
    margin: 0;
    padding: 0;
 }